services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    container_name: map-guesser-game-app-dev
    restart: unless-stopped
    volumes:
      - ./:/app
      - /app/node_modules
    networks:
      - caddy-network

networks:
  caddy-network:
    external: true
