services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: map-guesser-game-app-prod
    restart: always
    networks:
      - caddy-network

networks:
  caddy-network:
    external: true
    name: caddy-network
